.fs-w {
    width: 100vw !important;
}

.fs-h {
    height: 100vh !important;
}

.h-100p {
    height: 100% !important;
}

.w-400 {
    width: 400px !important;
}

.w-350 {
    width: 350px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.disable-btn-hover:hover {
    transform: none !important;
    background: none !important;
}

.disable-btn-hover {
    transform: none !important;
    background: none !important;
}

.c-default {
    cursor: default !important;
}

.w-100p {
    width: 100% !important;
}

.min-h-400px {
    min-height: 400px !important;
}

.transition {
    transition: .2s all !important;
}

.c-pointer {
    cursor: pointer !important;
}
